:root {
    --el-text-color-disabled: #bbbcbe;
    --el-avatar-bg-color: var(var(--el-text-color-disabled));
    --el-color-danger-light-3: #F56C6C;
    --el-color-primary-light-3: #409EFF;
    --el-button-active-border-color: #DCDFE6;
    --el-button-active-text-color: #606266;
}


/* 解决内部滚动条 */

.el-main {
    overflow: visible !important;
}


/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/

 ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #f5f5f5;
}


/*定义滚动条轨道
    内阴影+圆角*/

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}


/*定义滑块
    内阴影+圆角*/

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}